# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# DB & Models
*.db
models/

# Ignore trained ML model files
*.pkl
*.pickle
*.joblib

# Ignore training outputs
ml/ticket_classifier.pkl
ml/model.pkl

#datasets
dataset.csv